<!DOCTYPE html>
<html>
<head>
<title>{% block head_title %}Kirk Lennon&rsquo;s Photos{% endblock %}</title>
<meta name="viewport" content="width=520">
{% load static %}
<link rel="stylesheet" href="{% static "styles.css" %}">
</head>
<body>
<div id="wrapper">
<header><p><a href="/">Kirk Lennon&rsquo;s Photos</a></p>
<h1>{% block title %}Welcome to my block{% endblock %}</h1>
</header>
<main>
{% block content %}

{% endblock %}
</main>
<footer>
 <p>Made by 
 <a href="https://kirklennon.com">Kirk Lennon</a>. This blog runs a 
custom CMS built using Django. You can view the code on 
<a href="https://github.com/kirklennon/blog">GitHub</a>.</p>
</footer>
</div>
</body>
</html>