{% extends 'base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}

    {% if posts %}
        
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
                <a href="{{ post.image.url }}"><img src="{{ post.image_thumbnail.url }}"></a>
                <p>{{ post.body|safe }}</p>
            <p>Location: <a href="{{ post.location.get_absolute_url }}">{{ post.location }}</a></p>
        {% endfor %}
        
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

<h2>Locations</h2>
{% if locations %}
    <ul>
    {% for location in locations %}
        <li><a href="{{ location.get_absolute_url }}">{{ location.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no posts.</p>
{% endif %}

{% endblock %}