{% extends 'base.html' %} 
{% block head_title %}Viewing location {{ location.title }}{% endblock %}
{% block title %}{{ location.title }}{% endblock %}

{% block content %}
    {% if posts %}
        
        {% for post in posts %}
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <a href="{{ post.image.url }}"><img src="{{ post.image_thumbnail.url }}"></a>
                <p>{{ post.body|safe }}</p>
        {% endfor %}
        
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
{% endblock %}